<div class="post-nav">

    <div class="post-nav-arrow">
      {% if page.previous.url %}
      <a class="prev-page" href="{{ page.previous.url }}">
        <p class="truncate">&laquo; {{ page.previous.title | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      </a>
      {% endif %}
    </div>

    <div class="post-nav-arrow">
    {% if page.next.url %}
      <a class="next-page" href="{{ page.next.url }}">
          <p class="truncate">{{ page.next.title | markdownify | remove: '<p>' | remove: '</p>' }} &raquo;</p>
      </a>
    {% endif %}
    </div>


</div>