//@import url('https://rsms.me/inter/inter.css');


@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 17px;
  //font-feature-settings: "tnum";

  letter-spacing: -0.006px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, nav, .post-footer, .post-nav, footer {
  font-family: "Inter", "Helvetica", sans-serif;
}

h1, h2, h3, .post-nav {
  text-shadow: 0px 0px 1px #888;
  font-weight: 600;
}

h1 {
  margin: 4.5rem 0;
  font-size: 2.2rem;
}

h2, h3 {
  margin: 1.5rem 0 1rem 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.5rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}

code {
  font-size: 0.95em;
  letter-spacing: -0.02em;
}