@import url('https://rsms.me/inter/inter.css');

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 16px;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, nav, .post-footer, .post-nav, footer {
  font-family: "Inter", "Helvetica", sans-serif;
}

h1, h2, h3, .post-nav {
  text-shadow: 0px 0px 1px #888;
  font-weight: 500;
}

h1 {
  margin: 4.5rem 0;
  font-size: 2.2rem;
}

h2, h3 {
  margin: 1.5rem 0 0.5rem 0;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.5rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}

.post-nav {
  font-weight: 600;
}