// Colours
@use "sass:color";

// 1. Input Variables
// 1.1 Layout
$content-width: 600px; // sets width of the main content column

// 1.2 Main Colours
$dark: #222; // dark colour
$light: #ddd; // light colour

//$dark: #237a82;
//$light: #fff3ec;

// 2. Calculated Colours
$dark_accent_1: lighten($dark,35%);
$dark_accent_2: lighten($dark,8%);
$light_accent_1: darken($light, 20%);
$light_accent_2: darken($light, 4%);

$dark-transparent: scale-color($dark, $alpha: -50%);
$light-transparent: scale-color($light, $alpha: -50%);

// Converting sass variable colours to CSS variables for the dark / light theme switcher
// The theme sets which of the two input colours is --fg (foreground) and which is --bg (background)
// The CSS variables are then what's renderered

:root {
  --bg: #{$light};
  --fg: #{$dark};

  --bg-accent-1: #{$light_accent_1};
  --bg-accent-2: #{$light_accent_2};

  --fg-accent-1: #{$dark_accent_1};
  --fg-accent-2: #{$dark_accent_2};

  --nav-color: #{$dark_accent_1};
  --bg-transparent: #{$light-transparent};
}

[data-theme="dark"] {
  --bg: #{$dark};
  --fg: #{$light};

  --bg-accent-1: #{$dark_accent_1};
  --bg-accent-2: #{$dark_accent_2};

  --fg-accent-1: #{$light_accent_1};
  --fg-accent-2: #{$light_accent_2};

  --nav-color: #{$dark};
  --bg-transparent: #{$dark-transparent};

  .tag:hover, blockquote {
    filter: brightness(120%);
  }

  // Theme switch button
  .dark-icon {
    display: none;
  }

  .light-icon {
    display: block;
  }

  blockquote, div.highlighter-rouge {
    border: 1px solid var(--bg-accent-1);
  }
}

// Utility classes

.block {
  display: block;
} 

.mb3 {
  margin-bottom: 3em;
}

.border-top {
  border-top: 1px solid var(--bg-accent-1);
  padding-top: 0.5em;
}

.border-bottom {
  border-bottom: 1px solid var(--bg-accent-1);
  padding-bottom: 1em;
}

.top-u1 {
  top: -1rem;
}

.top-u2 {
  top: -1.89rem;
}

.upper {
  text-transform: uppercase;
}

.card {

  background: var(--fg-accent-2);
  border-radius: 10px;
  color: var(--bg);

  box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.1);

  &:hover {
    filter: brightness(120%);
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    display: inline-block;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Defaults

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  margin: 0;

  a {
    color: var(--fg);
    //font-weight: 500;
    text-underline-offset: 2px;
    text-decoration-color: var(--bg-accent-1);
    text-decoration-thickness: 2px;


    &:not(nav a, .tag, .card):hover {
      color: var(--bg-accent-1);
    }
  }
}

article {
  grid-column: 2;
  padding-bottom: 5em;
}

nav {
  position: sticky;
  top: 4.75em;
  justify-self: right;
  grid-column: 1;
  
  block-size: fit-content;
  margin-top: 4.3em;
  margin-right: calc(min(6em, 5vw));
  
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-size: 18px;

  * {
    padding-left: 0.6em;
  }

  .card {
    margin-bottom: 1.6rem;
    padding: 0.5em 0.6em;

    &:hover {
      //background: var(--bg-accent-2); //unique colour
      text-decoration: none;
    }
  }

  ul {

    padding: 0;

    li {
      display: block;
    }
  }

  .nav-main {
    margin: 1.6em 0;
    line-height: 1.2em;

    li {
      margin-bottom: 0.5rem;
    }
  }

  .nav-secondary {
    text-align: left;
    font-size: 0.9rem;
    margin: 0;

    li {
      margin-bottom: 0.3rem;
    }
  }

  a, a:visited {
    padding: 0;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
    }
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
}

// Main Grid Layout

main {
  display: grid;
  grid-template-columns: minmax(2em,1fr) 
                         minmax(0, #{$content-width}) 
                         minmax(2em,1fr);
  min-height: 100vh;
  position: relative;
}

// Post Footer Elements

.post-footer, .post-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer {
  border-top: 1px solid var(--fg);
}

.post-nav {
  margin-top: 3em;
}

.post-nav-arrow {
  width: 50%;

  p {
    padding: 0 0.5rem;
  }
}

.prev-page, .next-page {
  text-decoration-color: var(--bg-accent-2);
}

.next-page {
  text-align: right;
}

blockquote {
  filter: brightness(110%);
  background-color: var(--bg);
  margin: 0;
  padding: 1em;
  border: 1px solid var(--bg-accent-2);
  border-radius: 10px;

  font-size: 1.05em;

  p {
    margin: 0;
  }
}

*:not(pre) > code {
  border-radius: 5px;
  padding: 0.1em 0.3em;
  background-color: var(--bg-accent-2);
}

.highlight {
  margin: 0;
  padding: 1em;
  border-radius: 10px;
  line-height: 1em;
  font-size: 0.95em;
}

div.highlighter-rouge {
  border: 1px solid var(--bg-accent-2);
  border-radius: 10px;
}

.tag {
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: 10px;

  background-color: var(--bg-accent-2);

  &:hover {
    filter: brightness(110%);
  }
}

footer {
  font-size: 14px;
  color: var(--bg-accent-1);
  margin: 2em 0;
  grid-column: 2;
  position: absolute;
  bottom: 0;
}

.top-return {
  position: sticky;
  bottom: 3em;
  padding-left: 4.5em;
}


// "Lists" Layout

.list-cat {
  position: relative;
  left: calc(0.6em + #{$content-width});

  font-size: 20px;
  color: var(--bg-accent-1);
  font-weight: 600;
}

.list-cat-link {
  text-decoration: none;
}

.list-cat-container {
  position: relative;

  ul {
    padding: 0;
    margin: 0;
  }
}

.list-item {
  margin-top: 0.7rem;
  display: block;

  a {
    text-decoration-color: var(--bg-accent-2);
  }
}

.tag-date {
  font-weight: 300;
  margin-left: 0.5em;
}

// List cards

.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  .card {
    padding: 2em;
  }

  a {
    text-decoration: none;
  }
}

.list-card {
  padding: 2em;
  border: 1px solid;
  border-radius: 10px;
  background: #aaa;
}

.border-top > .card-collection {
  margin-top: 0.5em;
}

// Home Page

.nav-about {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;

  li {
    display: block;
  }
}

// Figures

figure {
  margin: 2em 0;

  a:hover {
    filter: none !important;
  }
}

img {
  width: 100%;
}

.pic-wide {
  width: calc(50vw + #{$content-width} / 2 - 6em);
}

// Table of Contents

.toc {
  position: sticky;
  top: 4.25em;
  grid-column: 3;
  height: fit-content;
  width: fit-content;
  margin-left: calc(min(2em, 1vw));
  margin-top: 11.2rem;
  backdrop-filter: blur(5px);
  padding: 0.8em;
  border-radius: 10px;
  max-width: 200px;

  background: var(--bg-transparent);
  color: var(--bg-accent-1);

  * {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bg-accent-1);
  }

  h2 {
    margin-bottom: 0.5em;
  }

  li {
    display: block;
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--fg) !important;
    }
  }

  &>ul {
    margin-bottom: 1em;

    ul {
      padding-left: 1em;
    }
  }
}

// Responsiveness
// Only one breakpoint @ 1000px from multi-column to single column

@media screen and (max-width: 1000px) {
  body {
    font-size: 18px;
  }

  main {
    grid-template-rows: 70px 1fr;
  }

  nav {
    grid-column: 2;

    margin: 0.5em 0;
    justify-self: left;
    top: 0;
    position: relative;

    .nav-main {
      display: inline-flex;
    }

    .nav-secondary {
      display: none;
    }

    button {
      margin-left: 0;
    }
  }

  ul, ol {
    padding-left: 1.2em;
  }

  .list-cat {
    position: static;
  }

  .list-cat-container {
    position: static;
    margin-bottom: 1em;
    margin-top: 0.3em;
  }

  .toc {
    display: none;
  }

  .post-publish {
    display: none;
  }

  .pic-wide {
    width: auto;
  }
}

// Theme Switch

button {
  padding: 0.5em;
  border-radius: 50px;
  border: none;
  margin-left: 0.6em;
  margin-top: 1em;
  cursor: pointer;
  background: none;
}

.light-icon, .dark-icon {
  font-size: 1.5em;
  padding: 0;
}

.light-icon {
  display: none;
}