// Colours
@use "sass:color";

// 1. Input Variables
// 1.1 Layout
$content-width: 600px; // width of main content column
$sidebar-width: 230px; // width of sidebar
$sidebar-margin: 3.5rem; // the gap between the sidebar content and main content

$pic-wide: 1.3; // overflow amount for wide pictures
$caption-wide: calc(1 / #{$pic-wide}); // fits the caption back to normal content width

// 1.2 Main colours
$dark: #222; // dark colour
$light: #f3f3f3; // light colour

//$dark: #237a82;
//$light: #fff3ec;

// 2 Calculated Variables
// 2.1 Main colours and accents
$dark_accent_1: lighten($dark,35%);
$dark_accent_2: lighten($dark,8%);
$light_accent_1: darken($light, 20%);
$light_accent_2: darken($light, 4%);

$dark-transparent: scale-color($dark, $alpha: -50%);
$light-transparent: scale-color($light, $alpha: -50%);

// 2.2 CSS Variables
// Converting sass variable colours to CSS variables for the dark / light theme switcher
// The theme sets which of the two input colours is --fg (foreground) and which is --bg (background)
// The CSS variables are then what's renderered

:root {

  // Padding for narrow screen widths
  --narrow-padding: max(1.5em, calc((100vw - #{$content-width}) / 2));
  --photo-padding: max(10px, calc(100vw / 2000));

  --bg: #{$light};
  --fg: #{$dark};

  --bg-accent-1: #{$light_accent_1};
  --bg-accent-2: #{$light_accent_2};

  --fg-accent-1: #{$dark_accent_1};
  --fg-accent-2: #{$dark_accent_2};

  --nav-color: #{$dark_accent_1};
  --bg-transparent: #{$light-transparent};

  --shadow-color: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --bg: #{$dark};
  --fg: #{$light};

  --bg-accent-1: #{$dark_accent_1};
  --bg-accent-2: #{$dark_accent_2};

  --fg-accent-1: #{$light_accent_1};
  --fg-accent-2: #{$light_accent_2};

  --nav-color: #{$dark};
  --bg-transparent: #{$dark-transparent};

  --shadow-color: rgba(0, 0, 0, 0.15);

  .tag:hover {
    filter: brightness(120%);
  }

  // Theme switch button
  .dark-icon {
    display: none;
  }

  .light-icon {
    display: block;
  }

  div.highlighter-rouge {
    border: 1px solid var(--bg-accent-1);
  }
}

// Utility classes

.block {
  display: block;
} 

.mb3 {
  margin-bottom: 3em;
}

.border-top {
  border-top: 1px solid var(--bg-accent-1);
  padding-top: 0.5em;
}

.border-bottom {
  border-bottom: 1px solid var(--bg-accent-1);
  padding-bottom: 1em;
}

.top-u1 {
  top: -1rem;
}

.top-u2 {
  top: -1.89rem;
}

.upper {
  text-transform: uppercase;
}

.card {

  background: var(--fg-accent-2);
  border-radius: 3px;
  color: var(--bg);

  box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.05);

  &:hover {
    filter: brightness(120%);
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    display: inline-block;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Defaults

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  margin: 0;

  a {
    color: var(--fg);
    //font-weight: 500;
    text-underline-offset: 2px;
    text-decoration-color: var(--bg-accent-1);
    text-decoration-thickness: 2px;


    &:not(nav a, .tag, .card):hover {
      color: var(--bg-accent-1);
    }
  }
}

article {
  grid-column: 2;
  padding-bottom: 7em;
  padding-left: $sidebar-margin;
}

.nav-wrapper {
  grid-column: 1;
  box-shadow: 8px 0px 6px -6px var(--shadow-color);
  border-right: 1px solid var(--bg-accent-1);
}

nav {

  position: sticky;
  top: 4.7em;
  width: fit-content;
  margin: 4rem auto;
  font-size: 18px;

  * {
    padding-left: 0.6em;
  }

  .card {
    margin-bottom: 1.6rem;
    padding: 0.5em 0.6em;

    &:hover {
      text-decoration: none;
    }
  }

  ul {

    padding: 0;

    li {
      display: block;
    }
  }

  .nav-main {
    margin: 1.6em 0;
    line-height: 1.2em;

    li {
      margin-bottom: 0.6rem;
    }
  }

  .nav-secondary {
    text-align: left;
    font-size: 0.9rem;
    margin: 0;

    li {
      margin-bottom: 0.3rem;
    }
  }

  a, a:visited {
    padding: 0;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
    }
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
  }
}

// Main Grid Layout

main {
  display: grid;
  //grid-template-columns: $sidebar-width
  //                       600px
  //                       minmax(calc(1000px - #{$content-width} - #{$sidebar-width}), 500px)
  //                       1fr;
  //min-height: 100vh;
  //position: relative;
}

.col-2 {
  //display: grid;
  grid-template-columns: $sidebar-width 
                         1fr;
  height: 100%;
}

.col-3 {
  grid-template-columns: $sidebar-width
                         600px
                         minmax(calc(1000px - #{$content-width} - #{$sidebar-width}), 500px)
                         1fr;
  min-height: 100vh;
  position: relative;
}

li::marker {
  margin-left: -0.1em;
}

// Post Footer Elements

.post-footer, .post-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-footer {
  border-top: 1px solid var(--bg-accent-1);
  padding-top: 0.5em;
}

.post-nav {
  margin-top: 3em;
}

.post-nav-arrow {
  width: 50%;

  p {
    padding: 0 0.5rem;
  }
}

.prev-page, .next-page {
  text-decoration-color: var(--bg-accent-2);
  text-shadow: none;
}

.next-page {
  text-align: right;
}

.post-publish {
  color: var(--bg-accent-1);
}

blockquote {
  //filter: brightness(110%);
  background: var(--bg-accent-2);
  margin: 1.2em 0;
  padding: 1em 1em 1.1em 1em;

  border-top: 1px solid var(--bg-accent-1);
  box-shadow: inset 0px 8px 6px -6px var(--shadow-color);
  //border-radius: 3px;

  font-size: 0.9em;
  line-height: 1.5;
 
  p {
    margin: 0;
  }
}

.quote-meta {
  margin-top: 0.8em;
  padding-left: 1em;
  font-size: 0.9em;
}

*:not(pre) > code {
  border-radius: 5px;
  padding: 0.1em 0.3em;
  background-color: var(--bg-accent-2);
}

.highlight {
  margin: 0;
  padding: 1em;

  //border: 1px solid var(--bg-accent-1);
  border-radius: 3px;

  line-height: 1em;
  font-size: 0.95em;

  overflow-y: auto;
}

.tag {
  text-decoration: none;
  padding: 0.3em 0.5em;
  border-radius: 3px;

  background-color: var(--bg-accent-2);

  &:hover {
    filter: brightness(110%);
  }
}

footer {
  font-size: 14px;
  color: var(--bg-accent-1);
  margin: 2em 0 2em $sidebar-margin;
  grid-column: 2;
  position: absolute;
  bottom: 0;
}

.top-return {
  position: sticky;
  bottom: 3em;
  padding-left: 4.5em;
}


// "Lists" Layout

.list-cat {
  position: relative;
  left: calc(#{$content-width} - 50px);

  font-size: 20px;
  color: var(--bg-accent-1);
  font-weight: 600;
}

.list-cat-link {
  text-decoration: none;
}

.list-cat-container {
  position: relative;

  ul {
    padding: 0;
    margin: 0;
  }
}

.list-item {
  margin-top: 0.7rem;
  display: block;

  a {
    text-decoration-color: var(--bg-accent-2);
  }
}

.tag-date {
  font-weight: 500;
  margin-left: 0.5em;
}

// List cards

.card-collection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  .card {
    padding: 2em;
  }

  a {
    text-decoration: none;
  }
}

.list-card {
  padding: 2em;
  border: 1px solid;
  border-radius: 10px;
  background: #aaa;
}

.border-top > .card-collection {
  margin-top: 0.5em;
}

// Home Page

.nav-about {
  font-size: 18px;
  font-weight: 500;
  padding-left: 0;

  li {
    display: block;
  }
}

// Figures

figure {
  margin: 2em 0;

  a:hover {
    filter: none !important;
  }
}

figcaption {
  //color: var(--fg-accent-1);
  font-size: 0.85em;
  margin-top: 1em;
  padding: 1em;
  border-top: 1px solid var(--bg-accent-1);
}

img {
  width: 100%;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.pic-wide {
  width: calc(100% * #{$pic-wide});
  margin: 2em 0 2em calc(100% * (1 - #{$pic-wide}) / 2);
}

.caption-wide {
  width: calc(100% * #{$caption-wide});
  margin-left: calc(50em * (1 - #{$caption-wide}) / 2);
}

// Table of Contents

.toc {
  position: sticky;
  top: 4em;
  grid-column: 3;
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 11rem;
  backdrop-filter: blur(5px);
  padding: 0.8em;
  max-width: 200px;
  font-weight: 600;
  
  border: 1px solid var(--bg);
  border-radius: 3px;
  background: var(--bg-transparent);
  //color: var(--bg-accent-1);

  &:hover * {
    color: var(--bg-accent-1) !important;
  }

  * {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bg-accent-2);
  }

  h2 {
    margin-bottom: 0.5em;
  }

  li {
    display: block;
    margin-bottom: 0.3em;
  }

  a {
    text-decoration: none;

    &:hover {
      color: var(--fg) !important;
    }
  }

  &>ul {
    margin-bottom: 1em;

    ul {
      //padding-left: 1em;
      font-size: 0.8em;
      padding: 0.4em 0 0 0.4em;
      font-weight: 600;
    }
  }
}

// Gallery Page

.horizontal-gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: var(--photo-padding) 0;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
}

  .image-wrapper {
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    background: var(--bg-accent-2);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.05);
  }
}

.img-gallery {
  height: 100%;
  width: auto;
}

.gallery-meta {
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  vertical-align: top;
  white-space: normal;
  padding: calc(4.5rem - 10px) 3rem 0 3.5rem;
  height: 100%;
  

  h1 {
      margin: 0 0 4.5rem 0;
  }

  footer {
    position: relative;
    margin: 1.5em 0;
  }
}

// Responsiveness
// Main breakpoint @ 1000px from multi-column to single column
// Comfortable until about 450px wide, then large nav icons disappear

@media screen and (max-width: 1000px) {
  body {
    font-size: 18px;
  }

  main {
    grid-template-rows: 85px 1fr;
    grid-template-columns: 1fr !important;

    * {
      grid-column: 1;
    }
  }

  article {
    box-shadow: none;
    border: none;
    width: 100vw;

    padding: 0em var(--narrow-padding);
    padding-bottom: 7em;
  }

  nav {
    margin: auto 0;
    //justify-self: left;
    //top: 0;
    //position: relative;

    font-size: 16px;

    padding: 1em var(--narrow-padding);

    .nav-main {
      display: inline-flex;

      * {
        font-weight: 600;
      }
    }

    .nav-secondary {
      display: none;
    }

    button {
      margin-left: 0;
      position: relative;
      top: 0.1em;
    }

    * {
      padding-left: 0.9em;
    }
  }

  h1 {
    margin: 3rem 0;
  }

  h2, h3 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  .no-nav {
    grid-row: 1/3;
  }

  .narrow-remove {
    display: none;
  }

  ul, ol {
    padding-left: 1.2em;
  }

  .list-cat-container, .flexbox {
    padding-left: 0;
  }

  footer {
    margin: 0;
    padding: 2rem;
    padding-left: var(--narrow-padding);
  }

  .post-nav {
    font-size: 16px;
  }

  .list-cat {
    position: static;
  }

  .list-cat-container {
    position: static;
    margin-bottom: 1em;
    margin-top: 0.3em;
  }

  .pic-wide {
    width: auto;
    margin: auto;
  }

  .caption-wide {
    width: 100%;
    margin-left: 0;
  }

  .col-2 {
    height: auto;
  }

  .horizontal-gallery-wrapper {
    overflow: auto;
    white-space: normal;
    padding: 0 var(--narrow-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;

    .gallery-meta {
      display: block;
      padding: 3rem 0 0 0;
      width: auto;
      height: auto;

      footer {
        display: none;
      }
    }

    .image-wrapper {
      display: contents;
      height: auto;
    }

    .img-gallery {
      height: auto;
      max-width: 90vw;
      max-height: 90vh;
    }
  }
}

// Removing nav elements at really narrow widths
@media screen and (max-width: 450px) {
  nav .card {
    display: none;
  }

  .light-icon, .dark-icon {
    display: none;
  }
}


// Theme Switch

button {
  padding: 0.5em;
  border-radius: 50px;
  border: none;
  margin-left: 0.15em;
  margin-top: 1em;
  cursor: pointer;
  background: none;
}

p button {
  margin: 0;
}

.light-icon, .dark-icon {
  font-size: 1.5em;
  padding: 0;
}

.light-icon {
  display: none;
}


