---
layout: default
---

{% if page.card == true %}
  {% assign item_class = "card" %}
{% else %}
  {% assign item_class = "list-item" %}
{% endif %}

{% include navigation.html %}

<article>
  <h1>{{ page.display_collection | capitalize }}</h1>

    {{ content }}

    {% unless page.by_date == true %}
      <div class="list-cat-container{% unless page.card == true %} border-top{% endunless %}">
        <ul {% if page.card == true %}class="card-collection"{% endif %}>
    {% endunless %}

    {% for item in site[page.display_collection] %}

      {% comment %}
      Allows the item titles to be sourced from a front-matter entry in each of the collection items.
        Set *category* in the front matter of the list.html page for the front matter key to be referenced.
        All collection items with that front matter key will use the matching value as their link title.
      {% endcomment %}

      {% if page.category and item[page.category]  %}
        {% assign item_title = item[page.category] %}
      {% else %}
        {% assign item_title = item.title %}
      {% endif %}

      {% if page.by_date == true %}

        {% assign currentdate = item.date | date: "%Y" %}

        {% if currentdate != date %}
          {% unless forloop.first %}</div>{% endunless %}
            
            <a href="#{{ currentdate }}" class="list-cat-link">
              <span id="{{ currentdate }}" class="list-cat top-u1">{{ currentdate }}</span>
            </a>

            <div class="list-cat-container border-top top-u2">
              <ul {% if page.card == true %}class="card-collection"{% endif %}>

                {% assign date = currentdate %}
        
        {% endif %}
      {% endif %}
                {% if page.card == true %}

                 <a class="{{ item_class }}" href="{{ item.url }}"
                    {% if item.thumb %}
                      style="background-image: linear-gradient(to right, var(--fg), transparent),
                      url({{ item.thumb }});
                      background-size: cover;"
                    {% endif %}>
                    <li class="truncate">{{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                  </a>
                
                {% else %}
      
                  <li class="{{ item_class }} truncate">
                    <a class="list-link" href="{{ item.url }}">{{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                  </li>

                {% endif %}
    
          {% if forloop.last %}
              </ul>
            </div>
          {% endif %}
    
    {% endfor %}

    {% unless page.by_date == true %}
      </div>
      </ul>
    {% endunless %}

</article>

{% include footer.html %}