---
layout: default
---

{% assign item_class = "list-item" %}
{% if page.card == true %}
  {% assign item_class = "list-card" %}
{% endif %}

{% include navigation.html %}

<article>
  <h1>{{ page.display_collection | capitalize }}</h1>

    {% for item in site[page.display_collection] %}

      {% if page.by_date == true %}

        {% assign currentdate = item.date | date: "%Y" %}
          {% if currentdate != date %}
            {% unless forloop.first %}</div>{% endunless %}
              
              <a href="#{{ currentdate }}" class="list-cat-link">
                <span id="{{ currentdate }}" class="list-cat">{{ currentdate }}</span>
              </a>

              <div class="list-cat-container border-top">
                <ul>
                  {% assign date = currentdate %}
          
          {% endif %}
        
        {% endif %}
      
                  <li class="{{ item_class }} block truncate">
                    <a class="list-link" href="{{ item.url }}">{{ item.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                  </li>
    
            {% if forloop.last %}
                </ul>
              </div>
            {% endif %}
    
    {% endfor %}
</article>